<div class="container pt-3">
  <div class="mt-2 p-1 bg-primary text-white rounded text-center">
      <h1>ToDo App</h1>
      <p>Advance Version With Filter </p>
    </div>
    <div class="row">
      <div class="col-5 pt-2">
          <input type="text" class="form-control" [(ngModel)]="taskObj.taskName" placeholder="Task Name">
      </div>
  </div>
  <div class="row">
      <div class="col-12 pt-2">
          <textarea class="form-control" [(ngModel)]="taskObj.taskDescription" rows="3" placeholder="Task Description"></textarea>
      </div>
  </div>
  <div class="row pt-2">
      <div class="col-2">
          <input type="date" id="textDate" class="form-control"  [(ngModel)]="taskObj.dueDate" placeholder="Due Date">

      </div>
      <div class="col-6">
          <input type="text" placeholder="Enter Comma Seperated tags" class="form-control" [(ngModel)]="taskObj.tags"> 
      </div>
      <div class="col">
        @if(taskObj.itemId==0){
          <button class="btn btn-success" (click)="addTask()">Add Task</button>
        }@else {
          <button class="btn btn-warning" (click)="updateTask()">Update Task</button>
        }
      </div>
  </div>
  <div class="row pt-4 ">
    
      <div class="col gap ">
          <button class="btn btn-primary btn-sm gap">Filter By Tags</button>
          <button class="btn btn-secondary  btn-sm">Show All</button> 
          <button class="btn btn-secondary  btn-sm">Show Completed</button> 
      </div>
    
  </div>
  <div class="row pt-4">
      <div class="col ">
          <button class="btn btn-secondary  btn-sm">Tags Group</button>
          <button class="btn btn-secondary  btn-sm">default</button>
          <button class="btn btn-secondary  btn-sm">Hobby </button>
          <button class="btn btn-success  btn-sm">Holiday</button>
          <button class="btn btn-success text-light  btn-sm">Financial </button>
          <button class="btn btn-secondary  btn-sm">Fun </button>
          <button class="btn btn-success  btn-sm">Emergency </button>
          <button class="btn btn-secondary  btn-sm text-light">Health </button>
          <button class="btn btn-secondary  btn-sm">Work</button>
          <button class="btn btn-secondary  btn-sm">Education</button>
          <button class="btn btn-secondary  btn-sm">Social</button>
          <button class="btn btn-secondary  btn-sm">Travel</button>

      </div>
  </div>
  <div class="row pt-3">
      <div class="col-12">
          <table class="table table-bordered table-striped table-sm">
              <thead>
                  <tr>
                      <th><strong>Index</strong></th>
                      <th><strong>Task Name</strong></th>
                      <th><strong>Due Date</strong></th>
                      <th class="text-center"><strong>Tags</strong></th>
                  </tr>
              </thead>
              <tbody>
                @for (item of taskList; track 'itemId' ){
                  <tr>
                    <td style="text-align: center;">{{$index+1}}</td>
                    <td>
                        <div class="row">
                            <div class="col-1">
                                <input type="checkbox">
                            </div>
                            <div class="col-6">
                                {{item.taskName}}
                            </div>
                            <div class="col-4 text-end ">
                                <i class="fa fa-close text-secondary px-3 text-danger "></i>
                            </div>
                        </div>
                    </td>
                    <td>{{item.dueDate | date:'dd-MMMM-yy'}}</td>
                    <td class="text-center">
                        <button   class="btn btn-primary btn-sm rounded-btn" (click)="onEdit(item)">Edit</button>
                        <button   class="btn btn-danger btn-sm rounded-btn" (click)="onDelete(item.itemId)">Delete</button>
                    </td>
                </tr>
                }
                 
                
              </tbody>
          </table>
      </div>

  </div>
</div>

